/* Add CSS Styling */
p {
    background-color: #FFA7A7;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.cooler, 
.num4 {
    font-size: 24px;
}

.num2 {
    color: blue;
    font-size: 36px;
}

.num4 {
    background-color: lightgreen;
    font-weight: bold;
}

/* 
    NOTES: While I did make the HTML look correct, I made a mistake in not
    utilizing id's.  The elements 2 and 4 were single elements and should've
    been id's and not classes.  While I may not have been technically
    incorrect, it would've made the code easier to read and maintain.
 */