/* Add CSS Styling */
p {
    background-color: #FFA7A7;
    font-family: Verdana, DejaVu Sans, sans-serif;
}

.cooler, 
.num4 {
    font-size: 24px;
}

.num2 {
    color: blue;
    font-size: 36px;
}

.num4 {
    background-color: lightgreen;
    font-weight: bold;
}