body {
  font-family: Arial, Helvetica, sans-serif;
}

.para {
  font-size: 22px;
}

.para,
.small-para {
  color: hsl(0, 0%, 0%);
  font-weight: 800;
}

.small-para {
  font-size: 14px;
  font-weight: 800;
}

.confirm#confirm-button {
  background: green;
  color: white;
  font-weight: bold;
} 

.button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
}

div.text {
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: 100;
}

div.text .child {
  color: rgb(0, 0, 0);
  font-weight: 800;
  font-size: 14px;
}

/* REFLECTION: This exercise required some thought and I can
  definately see how it can get so complicated with a large
  webpage.  The solution document provides clearer/cleaner ways
  to accomplish the task.  I'm sure with practices, my
  solutions will get cleaner as well.
*/